<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>INICIAR SESIÓN</h1>
                  <p class="text-muted">Inicia sessión con tu cuenta</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input (focus)="removeAlertLogin()" type="text" class="form-control" placeholder="Username"
                      autocomplete="username" required name="correo" #email="ngModel" [(ngModel)]="logeo.email_admin">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password"
                      required name="password" #contrasena="ngModel" [(ngModel)]="logeo.password_admin">
                  </div>
                  <div class="input-group mb-4">
                    <span *ngIf="showAlertLogin" style="width:100%;"
                      class="alert alert-danger"><strong>{{message}}</strong></span>
                  </div>  
                  <div class="row">
                    <div class="col-12">
                      <button type="button" id="btn-login" class="btn btn-square btn-block btn-danger" (click)="login()">Iniciar sessión</button>
                    </div>
                    <div class="col-12" id="login-recuperar">
                      <button type="button" id="text-login" class="btn btn-link px-0" (click)="recuperarPassword()">Recuperar
                        contraseña</button> <p *ngIf="!recuperar">Validando datos...</p>
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none logo-login" style="width:50%">
              <div class="card-body text-center">
                <div>
                  <img class="img-login" src="../../../assets/img/logo/logo_titivan.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div bsModal #dangerModal="bs-modal" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Recuperar Contraseña</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <h1>Código de Verificación</h1>
              <p>Te enviamos un código de verificación al {{logeo.correo}}</p>
              <label>Código</label>
              <input class="form-control col-2" [(ngModel)]="reestablecerPassword.codigo" type="text" placeholder="------" autofocus="autofocus">
            </div>
            

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-key"></i></span>
              </div>
              <input [type]="passwordtype_new" [(ngModel)]="reestablecerPassword.password" class="form-control" placeholder="Nuevo Password" required>
              <span class="input-group-text"><i [class]="__icon_new" (click)="togglePass(2)"></i></span>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-key"></i></span>
              </div>
              <input [type]="passwordtype_conf" [(ngModel)]="passConfirmar" class="form-control" placeholder="Confirmar Password"
                required>
              <span class="input-group-text"><i [class]="__icon_conf" (click)="togglePass(3)"></i></span>
            </div>


          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="validarCodigo()">Confirmar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
