
.app-body{
    background: #cbcbc9b6!important;
}
.logo-login{
    background: #F44336!important;
    border-color: #F44336!important;
}
.img-login{
    width: 100%;
}

#text-login{
    color: #F44336;
}
#login-recuperar{
    margin-top: 15%;
    text-align: center;
}