

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Lista de Afiliados</h1>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<p></p>


<div class="container" id="table">
    <table class="table">

        
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id_User</th>
                <th scope="col">Code_User</th>
                <th scope="col">Code_Sponsor</th>
                <th scope="col">Email</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
            </tr>

        </thead>

        <tbody>
            <tr *ngFor = "let usuario of listaUsuariosValidos">
                <td>{{usuario.id_user}}</td>
                <td>{{usuario.code_user}}</td>
                <td>{{usuario.code_sponsor}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.names}}</td>
                <td>{{usuario.last_names}}</td>

            </tr>
        </tbody>
        
    </table>
</div>




