<p>
  registrar-usuario works!
</p>


<div class="container">
  <form >

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="names">Nombres</label>
        <input type="text" class="form-control" name="names" id="names" [(ngModel)]="usuario.names">
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="last_names">Apellidos</label>
        <input type="text" class="form-control" name="last_names" id="last_names" [(ngModel)]="usuario.last_names">
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="birthday">Fecha de Nacimiento</label>
        <input type="date" class="form-control" name="birthday" id="birthday" [(ngModel)]="usuario.birthday">
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="gender">Genero</label>
        <select name="gender" id="gender" class="custom-select" [(ngModel)]="usuario.gender">
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="id_type_document">Tipo de documento</label>
        <select class="custom-select" name="id_type_document" id="id_type_document" [(ngModel)]="usuario.id_type_document">
          <option *ngFor="let tipoDocumento of tiposDeDocumentos;let i=index" [value]="tipoDocumento.id_type_document">
            {{tipoDocumento.document}}
          </option>
        </select>
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="value_document">Valor del documento</label>
        <input type="text" class="form-control" name="value_document" id="value_document" [(ngModel)]="usuario.value_document">
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="usuario.email">
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="phone">Telefono</label>
        <input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="usuario.phone">
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="id_distrit">Id del distrito</label>
        <select class="custom-select" name="id_distrit" id="id_distrit" [(ngModel)]="usuario.id_distrit">
          <option *ngFor="let distrito of listaDistritos" [value]="distrito.id_distrit">

            {{distrito.distrit}}

          </option>

        </select>
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="address">Direccion</label>
        <input type="text" class="form-control" name="address" id="address" [(ngModel)]="usuario.address">
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="id_platform">Id de la plataforma</label>
        <select class="custom-select" name="id_platform" id="id_platform" [(ngModel)]="usuario.id_platform">
          <option *ngFor="let plataforma of listaPlataformas" [value]="plataforma.id_platform">

            {{plataforma.platform}}
          </option>
        </select>
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="id_role">id del Rol</label>
        <select name="id_role" id="id_role" class="custom-select" [(ngModel)]="usuario.id_role">
          <option *ngFor="let rol of listaRoles" [value]="rol.id_role">
            {{rol.role}}
          </option>
        </select>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="col-md-3"></div>
      <div class="form-group col-md-4">
        <label for="password_user">Contraseña</label>
        <input type="password" class="form-control" name="password_user" id="password_user" [(ngModel)]="usuario.password_user">
      </div>
      <div class="col-md-5"></div>
      
    </div>

    <div class="row">
      <div class="col-5"></div>
      <button type="submit" class="btn btn-primary col-2" (click)="registrarUsuario(usuario)">Registrar</button>
      <div class="col-5"></div>
    </div>
  </form>

  <div></div>
  <span *ngIf="mensajeYaRegistrado">El  usuario ya ha sido registrado</span>
  <span *ngIf="mensajeRegistradoExitosamente">El usuario ha sido creado exitosamente</span>

</div>



<!--<form id="formulario">

  <input id="email" type="text" name="email" placeholder="Email" [(ngModel)]="admin.email" required="true">
  <input id="contraseña" type="password" name="Contraseña" placeholder="Contraseña" [(ngModel)]="admin.password" required="true">
  
  <button type="submit" class="btn btn-sm btn-primary" (click)="registrarUsuario(admin)">Registrar</button>

  <div></div>
  <span *ngIf="mensajeYaRegistrado">El  usuario ya ha sido registrado</span>
  <span *ngIf="mensajeRegistradoExitosamente">El usuario ha sido creado exitosamente</span>


</form>-->



<!--<script>

  const email = document.getElementById("email");
  const contraseña = document.getElementById("contraseña");
  const formulario = document.getElementById("formulario");
  const emailVacio = document.getElementById("emailVacio");
  const contraseñaVacia = document.getElementById("contraseñaVacia");

  formulario.addEventListener('submit',(e)=>{

    if (email.value == "") {
      console.log("bota tu ga");
      e.preventDefault();
      emailVacio.innerText = "Ingrese su contraseña";
    }

    if (contraseña.value == "") {
      
      e.preventDefault();
      contraseñaVacia.innerText = "Ingrese su contraseña"
    }



  });

</script>
-->