<p>
  editar-usuario works!
</p>

<div class="container">
  <div class="container">
    <table class="table">
  
        <thead>
            <tr>
                <th scope="col">Id_User</th>
                <th scope="col">Code_User</th>
                <th scope="col">Email</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Id_Role</th>
                <th scope="col"></th>
            </tr>
  
        </thead>
  
        <tbody>
            <tr *ngFor = "let usuario of listaUsuariosValidos;let i = index">
                
                <td>{{usuario.id_user}}</td>
                <td>{{usuario.code_sponsor}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.names}}</td>
                <td>{{usuario.last_names}}</td>
                <td>{{usuario.id_role}}</td>
                <td>
                  <button class="btn btn-success" (click)="irListarUsuariosVista(usuario.id_user)">Editar</button>
                </td>
                
  
            </tr>
        </tbody>
        
    </table>
</div>

