<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
          <div class="opaco" *ngIf="loading">
            <div id="loading"></div>
          </div>
        <div class="card-body card-reportes">
          <div class="text-value">{{reporte.usuarios_activos}}</div>
          <div>Dato 1</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body card-reportes">
          <div class="text-value">{{reporte.conductores_activos}}</div>
          <div>Dato 2</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body card-reportes">
          <div class="text-value">{{reporte.viajes_terminados}}</div>
          <div>Dato 3</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body card-reportes">
          <div class="text-value">{{reporte.viajes_en_curso}}</div>
          <div>Dato 4</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">REPORTE</h4>
          <div class="small text-muted">{{mainChartLabelsB[mainChartLabelsB.length - 1]}} {{mainChartLabelsC[mainChartLabelsC.length - 1]}}</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>-->
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Día" id="option1">Día</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Mes" id="option2" active>Mes</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Año" id="option3">Año</label>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->

      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas *ngIf="radioModel === 'Día'" baseChart class="chart"
          [datasets]="mainChartDataA"
          [labels]="mainChartLabelsA"
          [options]="mainChartOptions"
          [colors]="mainChartColours"
          [legend]="mainChartLegend"
          [chartType]="mainChartType">
        </canvas>
        <canvas *ngIf="radioModel === 'Mes'" baseChart class="chart"
          [datasets]="mainChartDataB"
          [labels]="mainChartLabelsB"
          [options]="mainChartOptions"
          [colors]="mainChartColours"
          [legend]="mainChartLegend"
          [chartType]="mainChartType">
        </canvas>
        <canvas *ngIf="radioModel === 'Año'" baseChart class="chart"
          [datasets]="mainChartDataC"
          [labels]="mainChartLabelsC"
          [options]="mainChartOptions"
          [colors]="mainChartColours"
          [legend]="mainChartLegend"
          [chartType]="mainChartType">
        </canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Indicador 1</div>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Indicador 2</div>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
        </div>
      </div>
    </div>
  </div>
</div>
