<p>
  editar-usuario-vista works!
</p>



<div class="container">
  <form>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="id_user">Id_User</label>
        <input type="number" class="form-control" name="id_user" id="id_user" [(ngModel)]="usuario.id_user">
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="names">Nombres</label>
        <input type="text" class="form-control" name="names" id="names" [(ngModel)]="usuario.names">
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="last_names">Apellidos</label>
        <input type="text" class="form-control" name="last_names" id="last_names" [(ngModel)]="usuario.last_names">
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="birthday">Fecha de Nacimiento</label>
        <input type="date" class="form-control" name="birthday" id="birthday" [(ngModel)]="usuario.birthday">
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="gender">Genero</label>
        <input type="text" class="form-control" name="gender" id="gender" [(ngModel)]="usuario.gender">
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="id_type_document">Tipo de Documento</label>
        <select class="custom-select" name="id_type_document" id="id_type_document" [(ngModel)]="usuario.id_type_document">
          <option *ngFor="let tipoDocumento of tiposDeDocumentos;let i=index" [value]="tipoDocumento.id_type_document">
            {{tipoDocumento.document}}
          </option>
        </select>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="value_document">Valor del documento</label>
        <input type="text" class="form-control" name="value_document" id="value_document" [(ngModel)]="usuario.value_document">
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" [(ngModel)]="usuario.email">
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="phone">Telefono</label>
        <input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="usuario.phone">
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="id_distrit">Id del distrito</label>
        <input type="number" class="form-control" name="id_distrit" id="id_distrit" [(ngModel)]="usuario.id_distrit">
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      
      <div class="form-group col-md-4">
        <label for="address">Direccion</label>
        <input type="text" class="form-control" name="address" id="address" [(ngModel)]="usuario.address">
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-4">
        <label for="id_platform">Id de la plataforma</label>
        <select class="custom-select" name="id_platform" id="id_platform" [(ngModel)]="usuario.id_platform">
          <option *ngFor="let plataforma of listaPlataformas" [value]="plataforma.id_platform">

            {{plataforma.platform}}
          </option>
        </select>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-row">
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <label for="id_role">Id del Rol</label>
        <select name="id_role" id="id_role" class="custom-select" [(ngModel)]="usuario.id_role">
          <option *ngFor="let rol of listaRoles" [value]="rol.id_role">
            {{rol.role}}
          </option>
        </select>
      </div>
      <div class="col-md-4"></div>
      
    </div>

    <button class="btn btn-primary" (click)="editarUsuario()">Actualizar</button>

    <span *ngIf="mensajeExitoso">
      {{mensajeExitoso}}
    </span>

    



  </form>
</div>


