// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
@font-face {
    font-family: HelveticaNeue-Light;
    src: url("assets/fonts/HelveticaNeue-Light.otf") format("opentype");
}
@font-face {
    font-family: Avenir-Black;
    src: url("assets/fonts/Avenir-Black.otf") format("opentype");
}
@font-face {
    font-family: GoogleSans-Regular;
    src: url("assets/fonts/ProductSans-Regular.woff") format("woff");
}
@font-face {
    font-family: GoogleSans-Medium;
    src: url("assets/fonts/ProductSans-Medium.woff") format("woff");
}
@font-face {
    font-family: GoogleSans-Bold;
    src: url("assets/fonts/ProductSans-Bold.woff") format("woff");
}
@font-face{
    font-family: Avenir Next;
    src: url("assets/fonts/Avenir-Next-LT-Pro-Demi-Condensed.ttf");
}
app-header{
    background: #F44336!important;
}
app-sidebar, .sidebar .nav-link.active{
    background: #002837!important;
}
.pagination{
    justify-content: center;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:nth-child(5){
    display: none !important;
}
.navbar-toggler:nth-child(6){
    display: none !important;
}

.sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-item{
    width: 250px !important;
}

*{
    font-family: GoogleSans-Regular;
}

.content_card-header{
    font-family: GoogleSans-Medium;
}

.card-header{
    font-family: GoogleSans-Medium;
}

#loading {
    background: url('assets/img/spinner.gif') no-repeat center center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999; 
    background-size: 20%;
}

.opaco{
	width:100%; 
	height:100%; 
	background: rgba(0,0,0,.9);
	position:fixed;
	top:0;
	left:0;
	z-index: 100;
}

.no-border{
    border:0 !important;
}

.marg{
    margin-top:3%;
    margin-left:2%;
}

.red{
    color: red;
}

.gray{
    color: gray;
}

.green{
    color: green;
}

.purple{
    color:purple
}
.n{
    font-weight:700;
}

th{
    text-align: center !important;
}

td{
    text-align: center !important;
    vertical-align: middle !important;
}

.asd{
    margin: 0!important;
    color:#ffe307;
    text-shadow: 0 0 2px #000;
}

.barnav a{
    padding-left: 30px !important;
}

.mg-btn{
    width:50px;
}

.mg-btn2{
    width:35px;
    margin: 4% 0;
}

.mg-btn3{
    width:65px;
}

.mg-boton{
    width: 190px;
}

@media(max-width:1199px){
    .mg-boton{
        width: 60px;
    }
}

.acciones{
    padding-right: 20px;
}